DEFAULT linux
TIMEOUT 50
PROMPT 1

LABEL linux
  KERNEL linux
  INITRD initrd
  APPEND root=/dev/ram0 ramdisk_size=3000000 ip=dhcp url=http://10.0.0.20/images/ubuntu-22.04-live-server-amd64.iso autoinstall ds=nocloud-net;s=http://10.0.0.20/ks/
