---
- name: Install EPEL repository
  dnf:
    name: epel-release
    state: present

- name: Install Barman
  dnf:
    name:
      - barman
      - barman-cli
    state: present
  when: ansible_hostname == "barman"

- name: Install barman-cli on PostgreSQL nodes
  dnf:
    name: barman-cli
    state: present
  when: ansible_hostname != "barman"

- name: Create Barman user in PostgreSQL
  become_user: postgres
  postgresql_user:
    name: barman
    password: "{{ barman_password }}"
    role_attr_flags: SUPERUSER,REPLICATION
  when: ansible_hostname == "node1"

- name: Update pg_hba.conf for Barman access
  lineinfile:
    path: /var/lib/pgsql/14/data/pg_hba.conf
    line: "host all barman {{ barman_ip }}/32 scram-sha-256"
    insertafter: EOF
  when: ansible_hostname == "node1"
  notify: restart postgresql

- name: Generate SSH key for postgres user
  become_user: postgres
  openssh_keypair:
    path: /var/lib/pgsql/.ssh/id_rsa
    type: rsa
    size: 4096
    state: present
  when: ansible_hostname == "node1"

- name: Generate SSH key for barman user
  user:
    name: barman
    generate_ssh_key: yes
    ssh_key_bits: 4096
    ssh_key_file: .ssh/id_rsa
  when: ansible_hostname == "barman"

- name: Get postgres public key
  slurp:
    src: /var/lib/pgsql/.ssh/id_rsa.pub
  register: postgres_pubkey
  when: ansible_hostname == "node1"

- name: Get barman public key
  slurp:
    src: /home/barman/.ssh/id_rsa.pub
  register: barman_pubkey
  when: ansible_hostname == "barman"

- name: Deploy postgres key to barman
  authorized_key:
    user: barman
    state: present
    key: "{{ hostvars['node1']['postgres_pubkey']['content'] | b64decode }}"
  when: ansible_hostname == "barman"

- name: Deploy barman key to postgres
  authorized_key:
    user: postgres
    state: present
    key: "{{ hostvars['barman']['barman_pubkey']['content'] | b64decode }}"
  when: ansible_hostname == "node1"

- name: Create .pgpass file for barman
  template:
    src: pgpass.j2
    dest: /var/lib/barman/.pgpass
    owner: barman
    group: barman
    mode: '0600'
  when: ansible_hostname == "barman"

- name: Copy Barman main configuration
  template:
    src: barman.conf.j2
    dest: /etc/barman.conf
    owner: barman
    group: barman
    mode: '0644'
  when: ansible_hostname == "barman"

- name: Copy node1 configuration
  template:
    src: node1.conf.j2
    dest: /etc/barman.d/node1.conf
    owner: barman
    group: barman
    mode: '0644'
  when: ansible_hostname == "barman"

- name: Create Barman directory structure
  file:
    path: /var/lib/barman/node1
    state: directory
    owner: barman
    group: barman
    mode: '0755'
  when: ansible_hostname == "barman"

- name: Test Barman connection
  become_user: barman
  command: barman check node1
  register: barman_check
  changed_when: false
  when: ansible_hostname == "barman"

- name: Show Barman check result
  debug:
    var: barman_check.stdout
  when: ansible_hostname == "barman"

- handlers:
    - name: restart postgresql
      systemd:
        name: postgresql-14
        state: restarted
